.pna_header_container {
  background-color: #54565a;
  position: relative;
  z-index: 10;
  padding: 100px 0;
  background-image: url("../img/pna/banner.jpg");
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
}

#section2 > h1, #seguimiento h1 {
	padding-bottom:10px; 
	padding-top:10px; 
	font-size: 1.6rem; 
	color: #54565a;
	text-align: center !important;
}

#seguimiento h1 {
	text-align: justify !important;
}

@media (max-width: 640px) {
  .pna_header_container {
    background-image: none;
    height: auto;
  }
}

/* header nuevo */

.pna_header_container2 {
  position: relative;
  padding: 200px 0;
  background-image: url("../img/pna/bannerPNA2.png"), url("../img/pna/bannerPNA1.png");
  background-position: center, left;
  image-rendering: high-quality;
  /* background-position: center; */
  /* background-size: cover; */
  /* background-position: 50%; */
  background-repeat: no-repeat;
}


.pna_header_container-implementacion {
  position: relative;
  padding: 150px 0;
  background-image: url("../img/pna/bannerPNA1.png");
  background-position: left;
  image-rendering: high-quality;
  /* background-position: center; */
  /* background-size: cover; */
  /* background-position: 50%; */
  background-repeat: no-repeat;
  background-size: contain;
}
@media (max-width: 640px) {
  .pna_header_container2 {
    /* background-image: none; */
    background-image: url("../img/pna/bannerPNA2.png");
    background-size: contain;
    margin-left: 10px;
    margin-right: 10px;
    padding: 100px 0;
    /* height: auto; */
  }
	.pna_header_container-implementacion {
	  padding: 0px;
	}
	.pna_header_container-implementacion h1 {
	  font-size: 1.3rem;
	}
	
}

.sentence2 {
  color: #000;
  max-width: 800px;
  margin: 0 50px;
  line-height: 50px;
  width: 100%;
}

.home_sesna_container .d-flex {
  height: 100%;
  max-width: 640px;
  margin: 0 auto;
  text-align: center;
}
.sentence {
  color: #fff;
  max-width: 660px;
  margin: 0 50px;
  line-height: 50px;
  width: 100%;
}
.sentence span {
  color: #e2211c;
  font-weight: 800;
}
@media (max-width: 640px) {
  .megafono {
    max-width: 150px;
  }
  .sentence {
    color: #fff;
    margin: 0 auto;
    font-size: 30px;
    text-align: center;
  }
}

/*	FILA 4	*/
.listaContainer {
  padding: 80px 0;
}
#fila .col-lg-3 {
  text-align: center;
}
.circleContainer {
  margin: 0 auto;
  background-color: #fff;
  border: 2px solid #d4deeb;
  border-radius: 100px;
  text-align: center;
  padding: 5px;
  display: inline-block;
}
.iconContainer {
  background-color: #d4deeb;
  border-radius: 100px;
  border-radius: 60px;
  padding: 10px;
  margin: 0 auto;
  width: 50px;
  height: 50px;
}
.iconContainer p {
  font-weight: 800;
  color: #54565a;
}
.iconContainer svg {
  fill: #5c5e63;
}
#fila .descripcion {
  font-family: "Roboto Condensed", sans-serif;
  margin: 20px 0;
  color: #54565a;
}

/*	FILA AMARILLA	*/
.filaAmarillaContainer {
  background-color: #f7fae8;
  padding: 50px 0;
  background-image: url("../img/pna/yellow.jpg");
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  font-size: 1.5em;
}
.filaAmarillaContainer p {
}
.filaAmarillaContainer span {
  color: #e2211c;
  font-weight: 800;
}
@media (max-width: 640px) {
  .filaAmarillaContainer .p-2 {
    width: 100%;
    text-align: center;
  }
  .filaAmarillaContainer p {
    width: 100%;
  }
  .filaAmarillaContainer span {
    width: 100%;
  }
}

/*	proceso	*/
.carousel-item {
  min-height: 550px;
}
@media (max-width: 990px) {
  .carousel-item {
    min-height: 700px;
  }
}
@media (max-width: 770px) {
  .carousel-item {
    min-height: 1200px;
  }
}
@media (max-width: 440px) {
  .carousel-item {
    min-height: 1280px;
  }
}

.procesoContainer {
  padding: 80px 20px 0 20px;
}
@media (max-width: 770px) {
  .procesoContainer {
    padding: 50px 10px 0 10px;
  }
}
.procesoContainer .nav-item {
  width: 33.333333%;
  text-align: center;
}
.procesoContainer .nav-item .active {
  background: transparent;
}
.procesoContainer .circleContainer {
  position: relative;
  margin: 20px auto;
  background-color: #fff;
  border: 2px solid #d4deeb;
  border-radius: 100px;
  text-align: center;
  padding: 10px;
  display: inline-block;
}
.procesoContainer .circleContainer span {
  position: absolute;
  left: 40%;
  top: -15px;
  background-color: #d4deeb;
  padding: 5px;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  color: #54565a;
  font-weight: 800;
  font-size: 12px;
  line-height: 12px;
}
.procesoContainer .iconContainer {
  background-color: #d4deeb;
  border-radius: 100px;
  border-radius: 1500px;
  padding: 10px;
  margin: 0 auto;
  width: 100px;
  height: 100px;
}
.procesoContainer .iconContainer svg {
  fill: #5c5e63;
}
.procesoContainer .titulo {
  font-weight: 800;
  max-width: 150px;
  color: #5c5e63;
  margin: 0 auto;
}
.procesoContainer .subtitulo {
  color: #54565a;
  max-width: 150px;
  margin: 0 auto;
}

@media (max-width: 765px) {
  .procesoContainer .nav-item .nav-link {
    border: 1px solid #d4deeb;
    color: #54565a;
  }
  .procesoContainer .nav-item .active {
    background-color: #e2211c;
    color: #fff;
  }
}

.procesoContainer .nav-item {
  text-align: center;
}
.procesoContainer .nav-item .active .circleContainer {
  transform: scale(1.2);
}
.procesoContainer .nav-item .active .iconContainer {
  background-color: #e2211c;
}
.procesoContainer .nav-item .active .iconContainer svg {
  fill: #fff;
}
.procesoContainer .nav-item .active .titulo {
  color: #e2211c;
}
/*.procesoContainer .nav-item:hover {text-align: left;}*/
.procesoContainer .nav-item:hover .circleContainer {
  transform: scale(1.2);
}
.procesoContainer .nav-item:hover .iconContainer {
  background-color: #e2211c;
}
.procesoContainer .nav-item:hover .iconContainer svg {
  fill: #fff;
}
.procesoContainer .nav-item:hover .titulo {
  color: #e2211c;
}

.procesoContainer .carousel-button {
  z-index: 15;
  margin-bottom: 0;
  position: absolute;
  right: 0;
  bottom: 50px;
  left: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  padding-left: 0;
  margin-right: 15%;
  margin-left: 15%;
  list-style: none;
}
.procesoContainer .carousel-button .btn {
  display: inline-block;
  outline: none;
  border: 0;
}
.procesoContainer .carousel-button .btn i {
  color: #a3b1c6;
}
.procesoContainer .carousel-button .btn:focus {
  outline: 0;
}

.procesoContainer .carousel-indicators li {
  background-color: #d4deeb;
  height: 15px;
}
.procesoContainer .carousel-indicators li.active {
  background-color: #a3b1c6;
}

.procesoContainer .proceso {
  width: 90%;
  margin: 0 auto;
}
.procesoContainer .numTitulo {
  background-color: #e2211c;
  padding: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  color: #fff;
  font-weight: 800;
  font-size: 18px;
  display: block;
  line-height: 20px;
  text-align: center;
}
.procesoContainer .titulo2 {
  font-weight: 800;
}
.procesoContainer .descripcion {
  color: #54565a;
  font-family: "Roboto Condensed", sans-serif;
}
.procesoContainer .descripcion b {
  color: #e2211c;
}
.procesoContainer .descripcion span {
  font-weight: 800;
}

.procesoContainer #consultaciudadana .p-2 {
  background-color: #f7fae8;
  text-align: center;
  padding: 20px !important;
}
.procesoContainer #consultaciudadana .p-2 span {
  font-weight: 800;
  color: #e2211c;
  font-size: 2em;
}
.procesoContainer #consultaciudadana .p-2 .descripcion {
  font-family: "Roboto Condensed", sans-serif;
}
@media (max-width: 765px) {
  .procesoContainer .numTitulo {
    margin: 0 auto;
  }
  .procesoContainer .titulo2 {
    text-align: center;
  }
  .procesoContainer #consultaciudadana .p-2 {
    margin: 20px auto;
  }
}

/*	propuestaContainer   */
.propuestaContainer {
  padding: 80px 20px;
  background-color: #f1f3f7;
}
.propuestaContainer .tituloPropuesta {
  color: #54565a;
  text-align: center;
}
.propuestaContainer .tituloPropuesta b {
  color: #e2211c;
}
.propuestaContainer .subtituloPropuesta {
  color: #54565a;
  text-align: center;
  margin: 0 auto;
  max-width: 550px;
}
.propuestaContainer #filaEje {
  margin: 25px auto;
}
.propuestaContainer .row [class*="col-"] {
  margin-bottom: -99999px;
  padding-bottom: 99999px;
}
.propuestaContainer .row {
  overflow: hidden;
}
.funcionBox {
  border: 1px solid #d4deeb;
  border-radius: 10px;
  padding: 25px;
  height: 100%;
  background-color: #fff;
}
.funcionBox svg {
  fill: #54565a;
}
.funcionBox .circleContainer .iconContainer {
  width: 75px;
  height: 75px;
  line-height: 45px;
}
.tituloPerfil {
  color: #e2211c;
  font-weight: 800;
  font-size: 20px;
  text-transform: uppercase;
}
.eje {
  margin: 0;
  font-size: 15px;
}
.descripcionCargo {
  font-family: "Roboto Condensed", sans-serif;
  color: #54565a;
}
@media (max-width: 990px) {
  .funcionBox .col-lg-3 {
    text-align: center;
  }
}
@media (max-width: 770px) {
  .iconContainer {
    padding: 10px;
  }
  .funcionBox .circleContainer .iconContainer svg {
    width: 80%;
  }
  .tituloPerfil,
  .eje {
    text-align: center;
  }
  .funcionBox {
    height: auto;
    margin: 25px 0;
  }
  .propuestaContainer .row [class*="col-"] {
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

/*		instrumentosContainer			*/
.instrumentosContainer {
  padding: 100px 0;
}
.instrumentosContainer img {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

/*	cajs AMARILLA	*/
.cajaAmarillaContainer {
  background-color: #f7fae8;
  padding: 50px 0;
  text-align: center;
}
.cajaAmarillaContainer .tituloPropuesta {
  color: #54565a;
  text-align: center;
}
.cajaAmarillaContainer .tituloPropuesta b {
  color: #e2211c;
}
.cajaAmarillaContainer .comp {
  width: 100%;
  max-width: 380px;
  margin: 0 auto;
}
.cajaAmarillaContainer .circleContainer {
  position: relative;
  margin: 20px auto;
  background-color: transparent;
  border: 2px solid #b2b4ad;
  border-radius: 100px;
  text-align: center;
  padding: 5px;
  display: inline-block;
}
.cajaAmarillaContainer .iconContainer {
  background-color: #b2b4ad;
  border-radius: 60px;
  border-radius: 150px;
  padding: 10px;
  margin: 0 auto;
  width: 50px;
  height: 50px;
}
.cajaAmarillaContainer .iconContainer svg {
  fill: #fff;
  width: 65%;
}

.cajaAmarillaContainer .tituloTransparencia {
  max-width: 140px;
  margin: 0 auto;
  font-family: "Roboto Condensed", sans-serif;
  color: #54565a;
}

#finalPNA {
  padding: 80px 20px;
}
#finalPNA .funcionBox {
  text-align: center;
}
#finalPNA .tituloPropuesta {
  color: #54565a;
  text-align: center;
  text-transform: uppercase;
  font-size: 25px;
  margin-bottom: 50px;
}

.tituloPropuesta {
  color: #54565a;
  text-align: center;
  text-transform: uppercase;
  font-size: 25px;
  margin-bottom: 50px;
}

#guiaPEA .tituloPropuesta span {
  text-transform: none !important;
}

#guiaPEA .tituloPropuesta {
  margin-bottom: 20px !important;
}

#guiaPEA .tituloPropuesta {
  text-transform: none !important;
}

#docsRelativos .tituloPropuesta span {
  text-transform: none !important;
}

#docsRelativos .tituloPropuesta {
  margin-bottom: 20px !important;
}

#docsRelativos .tituloPropuesta {
  text-transform: none !important;
}

#finalPNA .tituloPropuesta b {
  display: block;
  color: #e2211c;
  font-weight: 800;
}
#finalPNA .tituloPropuesta span {
  text-transform: lowercase;
}
/* #finalPNA .tituloPerfil{text-align: left;} */
#finalPNA .descripcionCargo {
  text-align: left;
}

#finalPNA .btn, #seguimiento .btn  {
  border: 0;
  background-color: #cdd6e2;
  border-bottom: 3px solid #c8c8c8;
  border-radius: 0;
  color: #54565a;
  padding: 0.75rem 0.75rem;
  font-size: 16px;
  margin: 0 auto;
}

/*		D3				*/
@media (max-width: 770px) {
  #chartColumn {
    padding: 0;
  }
}
.chart {
  position: relative;
  display: inline-block;
}

.grid line {
  stroke: lightgrey;
  stroke-opacity: 0.7;
  shape-rendering: crispEdges;
}
.grid path {
  stroke-width: 0;
}

.bar {
  fill: #53555a;
}
.bar:hover {
  fill: #dd2725;
}
.axis {
  font-size: 10px;
  font-family: "Roboto Condensed", sans-serif;
}
.axis path,
.axis line {
  fill: none;
  shape-rendering: crispEdges;
  stroke: #ececec;
}
.x.axis path {
  display: none;
}
.y.axis text {
  fill: #53555a;
}
.tooltip {
  /*background: #b0c4de;*/
  background-image: url(../img/pna/globo.png);
  background-size: contain;
  width: 40px;
  height: 30px;
  line-height: 10px;
  background-repeat: no-repeat;
  border: 1px solid black;
  border: 0;
  border-radius: 8px;
  font-size: 12px;
  font-weight: bold;
  pointer-events: none;
  position: absolute;
  text-align: center;
  padding: 5px 10px;
}

.tooltip2 {
  width: 90%;
  text-align: center;
}
.tooltip2 p {
  width: 100%;
  text-align: center;
}

/*		D3 grafica periocidad				*/
.chart2 {
  position: relative;
  display: inline-block;
}
.tooltipChart2 {
  /*background: #b0c4de;*/
  background-image: url(../img/pna/globo.png);
  background-size: contain;
  width: 40px;
  height: 30px;
  line-height: 10px;
  background-repeat: no-repeat;
  border: 1px solid black;
  border: 0;
  border-radius: 8px;
  font-size: 12px;
  font-weight: bold;
  pointer-events: none;
  position: absolute;
  text-align: center;
  padding: 5px 10px;
}
.bar2 {
  fill: #53555a;
}
.bar2:hover {
  fill: #dd2725;
}

.chartsPills {
  margin-bottom: 50px !important;
}
.chartsPills .nav-item {
  width: 50%;
}
.chartsPills .nav-item .active {
  background-color: #a0b1c8;
  border: 1px solid transparent;
  color: #fff;
}
.chartsPills .nav-item a {
  width: 90%;
  background-color: #fff;
  border: 1px solid #a0b1c8;
  color: #a0b1c8;
  border-radius: 50px;
  margin: 0 auto;
  font-weight: 800;
}

#procesoConsulta {
  border: 0;
  background-color: #cdd6e2;
  border-bottom: 3px solid #c8c8c8;
  border-radius: 0;
  color: #54565a;
  padding: 0.75rem 0.75rem;
  font-size: 16px;
  margin: 0 auto;
}

#consultaDocPNA:hover {
  color: #e2211c;
  text-decoration: underline;
}
