.quehacemoscontainer{background-color:#f7fae8;padding:100px 0 ;text-align:center;}
.quehacemoscontainer .titulo{color:#e2211c;font-weight: 800;font-size: 21px;margin-bottom: 0;text-transform: uppercase;}
.quehacemoscontainer .subtitulo{color:#92a2b8;font-size: 2em;   max-width: 720px; margin: 1rem auto 3rem auto;}
.quehacemoscontainer .subtitulo b{color:#dd2725;margin-bottom: 3em;}
.quehacemoscontainer .subtitulo i{color:#92a2b8;font-style: normal;}
.quehacemoscontainer .equipo {margin:0 auto;width:90%;max-width:930px;}
@media(max-width: 580px){
	.quehacemoscontainer .subtitulo{margin-bottom: 1em;}
}


/*https://codepen.io/katartgraphics/pen/OmQZEe*/
.esquemaContainer {position: relative;margin: auto;}
.esquemaContainer img { display: block; image-rendering: high-quality;}
.map-popup {position: absolute;left: 50%; top: 0%; z-index: 99; padding: 1rem 1.5rem;background-color: #9bacbc;width:290px;color:#fff;text-align: left; transition: all 300ms ease-in; transform: translate(-50%,-50%); box-shadow: 0 0 24px rgba(0,0,0,0.22);opacity: 0;  visibility: hidden;}
.map-popup.open {opacity: 1; visibility: visible;}
.map-popup .popup-title{font-weight: 800;font-size: 16px;}
.map-popup p{font-size: 13px; margin-bottom: 0px;}
.map-popup hr{background-color:#d24848; margin-top: 5px; margin-bottom: 5px;}

.map-item{}/**/
.marker {opacity:0;position: absolute;top:0;left:0;z-index: 1;border:1px solid #000;display: inline-block; width: 180px; height: 180px;top: 0; left: 0;  color: transparent; line-height: 36px; text-align: center;text-decoration: none; border-radius: 50%; background-color: transparent; transition: all 300ms;}
/*  LISTA DE MARCADORES   (DESKTOP)   */
.marker1 {top: 15%;left: 12%;} /*  COMITE COORDINADOR  */
.marker2 {  top: 0;  left:0;} /*  SESNA ROJO  */
.marker3 {  top: 0;  left:0;width:85px;height:180px;} /*    */
.marker4 {  top: 0;  left:0;width:85px;height:180px;} /*    */
.marker5 {  top: 0;  left:none; right:0;} /*    */
.marker6 {  top:none;left:none;bottom: 0;  right:0;} /*    */
.map-popup.edge:before {left: auto;right: -16px; border-width: 16px 0 16px 16px; border-color: transparent transparent transparent #fff;}
.map-popup.edge { left: auto;    right: calc(100% + 24px);}
@media only screen and (min-width:760px) {
  .map-item {position: absolute; }
  /*.map-item {border:1px solid cyan;}*/
  .map-item .marker {top: 0; left: 0;width:100%;height:   100%; }

  .map-item1 {top: 43%;left: 12%;width: 100px; height: 100px;}
  .marker1{width:100%;height:100%;}
  #marker1{left:200%;}

  .map-item11 {    top: 35%;left: 0%;width: 70px; height: 70px;}
  .map-item12 {    top: 15%;left: 12%;width: 70px; height: 70px;}
  .map-item13 {    top: 23%;left: 28%;width: 70px; height: 70px;}
  .map-item14 {    top: 75%;left: 28%;width: 70px; height: 70px;}
  .map-item15 {    top: 82%;left: 13%;width: 70px; height: 70px;}
  .map-item16 {    top: 63%;left: 0%;width: 70px; height: 70px;}
  #marker11,#marker12,#marker13,#marker14,#marker15,#marker16{ position: absolute;left: 100px; transform: translateX(20%);}

  .map-item2 { top: 42%; left: 52%;width:100px;height:100px;}
  .marker2{width:100px;height:100px;}
  #marker2{left:unset;right:0;}


  .map-item3 { width:45px;height:100px;top: 42%; left: 34%;}
  #marker3{left:0;right:unset;top:350%;}

  .map-item4 { width:45px;height:100px;top: 42%; left: 42%;}
  #marker4{left:0;right:unset;top:350%;}

  .map-item5 { width:100px;height:100px;top: 17%; right: 2%;}
  .map-item6 { width:100px;height:100px;bottom: 10%; right: 2%;}

  #marker5 {position: absolute; left: 0px; transform: translateX(-100%);}
  #marker6 { position: absolute;  left: 0px;  transform: translateX(-100%);}
}

@media only screen and (min-width:990px) {
  .map-item {position: absolute; }
  /*.map-item { border:1px solid blue;}*/
  .map-item .marker {top: 0; left: 0;width: 100%;height: 100%; }

  .map-item1 {top: 43%;left: 12%;width: 150px; height: 150px;}
  .marker1{width:100%;height:100%;}
  #marker1{left:220%;}

  .map-popup { position: absolute;left: 100px; transform: translateX(20%);}

  .map-item11 {    top: 35%;left: 0%;width: 80px; height: 80px;}
  .map-item12 {    top: 15%;left: 12%;width: 80px; height: 80px;}
  .map-item13 {    top: 23%;left: 28%;width: 80px; height: 80px;}
  .map-item14 {    top: 75%;left: 28%;width: 80px; height: 80px;}
  .map-item15 {    top: 82%;left: 13%;width: 80px; height: 80px;}
  .map-item16 {    top: 63%;left: 0%;width: 80px; height: 80px;}

  .map-item2 { top: 42%; left: 52%;width:150px;height:150px;}
  .marker2{width:150px;height:150px;}
  #marker2{left:unset;right:150%;transform: none;}


  .map-item3 { width:65px;height:150px;top: 42%; left: 34%;}
  #marker3{left:unset;right:90px;top: 0%;transform: none;}

  .map-item4 { width:65px;height:150px;top: 42%; left: 42%;}
  #marker4{left:150%;top: 0%;transform: none;}


  .map-item5 { width:150px;height:150px;top: 17%; right: 2%;}
  #marker5 { position: absolute;left: 0px; transform: translateX(-100%);}
  .map-item6 { width:150px;height:150px;bottom: 10%; right: 2%;}
  #marker6 { position: absolute;left: 0px; transform: translateX(-100%);}
}

@media only screen and (min-width:1200px) {
  /*.map-item { border:1px solid red; }*/
  .map-item { position: absolute; width: 180px;height: 180px; }
  .map-popup { position: absolute;left: 100px; transform: translateX(25%);}


  .map-item1 {top: 43%;left: 12%;width: 180px; height: 180px;}
  .marker1{width: 100%; height: 100%;}
  #marker1{left: 100%; top: 0%;}

  .map-item11 {    top: 35%;left: 0%;width: 100px; height: 100px;}
  .map-item12 {    top: 15%;left: 12%;width: 100px; height: 100px;}
  .map-item13 {    top: 23%;left: 28%;width: 100px; height: 100px;}
  .map-item14 {    top: 75%;left: 28%;width: 100px; height: 100px;}
  .map-item15 {    top: 82%;left: 13%;width: 100px; height: 100px;}
  .map-item16 {    top: 63%;left: 0%;width: 100px; height: 100px;}
  .marker11,.market12,.market13,.market14,.market15,.market16{width: 100%; height: 100%;}

  .map-item2 { top: 42%; left: 52%;}.marker2{width:180px;height:180px;}
  #marker2{left: 50%; top: 0%;}

  .map-item3 { width:85px;height:180px;top: 42%; left: 34%;}
  .marker3{width:85px;height:180px;}
  #marker3{left: 150%; top: 0%;}


  .map-item4 { width:85px;height:180px;top: 42%; left: 42%;}
  .marker4{width:85px;height:180px;}
  #marker4{left: 150%; top: 0%;}

  .map-item5 { width:180px;height:180px;top: 17%; right: 2%;}
  .marker5{width:180px;height:180px;}
  #marker5 { position: absolute;left: 0px; transform: translateX(-100%);}


  .map-item6 { width:180px;height:180px;bottom: 10%; right: 2%;}
  .marker6{width:180px;height:180px;}
  #marker6 { position: absolute;left: 0px; transform: translateX(-100%);}
}



/*  MOBILE    */
.esquemaMobileContainer{position: relative;}
.esquemaMobile{width:100%;}

.modal-content{background-color: #9bacbc;color:#fff;box-shadow: 0 0 24px rgba(0,0,0,0.22);text-align: left;}
.modal-header{border-bottom:2px solid #d24848; display: flex;}
.modal-title{font-weight: 800;font-size: 16px;}
.modal-body p{font-size: 13px;}

.btn-light{    position: absolute;background: transparent;  border: 1px solid;opacity: 0;}
@media only screen and (max-width:770px) {
  /*.btn-light{border:1px solid red;opacity: 1;}*/
  .btn1{top: 140px; left: 115px; width: 255px;   height: 160px;}
  .btn11{top: 0px; left: 107px; width: 100px;   height: 100px;}
  .btn12{top: 0px; left: 270px; width: 100px;   height: 100px;}
  .btn13{top: 130px; left: 0px; width: 100px;   height: 100px;}
  .btn14{top: 130px; left: 370px; width: 100px;   height: 100px;}
  .btn15{top: 300px; left: 45px; width: 100px;   height: 100px;}
  .btn16{top: 300px; left: 335px; width: 100px;   height: 100px;}
  .btn2{    top: 375px; left: 25%;  width: 50%; height: 65px;}
  .btn3{    top: 455px; left: 25%;  width: 50%; height: 65px;}
  .btn4{top: 580px; left: 0; width: 100%;   height: 180px;}
  .btn5{    top: 900px; left: 0%;  width: 50%; height: 100px;}
  .btn6{    top: 900px; left: 50%;  width: 50%; height: 100px;}
}

@media only screen and (max-width:580px) {
  /*.btn-light{border:1px solid blue;opacity: 1;}*/
  .btn1{top: 140px; left: 115px; width: 255px;   height: 160px;}

  .btn11{top: 0px; left: 107px; width: 100px;   height: 100px;}
  .btn12{top: 0px; left: 270px; width: 100px;   height: 100px;}
  .btn13{top: 130px; left: 0px; width: 100px;   height: 100px;}
  .btn14{top: 130px; left: 350px; width: 100px;   height: 100px;}
  .btn15{top: 300px; left: 45px; width: 100px;   height: 100px;}
  .btn16{top: 300px; left: 350px; width: 100px;   height: 100px;}


  .btn2{    top: 400px; left: 25%;  width: 50%; height: 65px;}
  .btn3{    top: 465px; left: 25%;  width: 50%; height: 65px;}
  .btn4{top: 600px; left: 0; width: 100%;   height: 180px;}
  .btn5{    top: 895px; left: 0%;  width: 50%; height: 100px;}
  .btn6{    top: 895px; left: 50%;  width: 50%; height: 100px;}
}

@media only screen and (max-width:520px) {
  /*.btn-light{border:1px solid green;opacity: 1;}*/
  .btn1{top: 140px; left: 115px; width: 200px;   height: 100px;}

  .btn11{top: 0px; left: 107px; width: 100px;   height: 100px;}
  .btn12{top: 0px; left: 270px; width: 100px;   height: 100px;}
  .btn13{top: 130px; left: 0px; width: 100px;   height: 100px;}
  .btn14{top: 130px; left: 330px; width: 100px;   height: 100px;}
  .btn15{top: 260px; left: 45px; width: 100px;   height: 100px;}
  .btn16{top: 260px; left: 300px; width: 100px;   height: 100px;}

  .btn2{    top: 310px; left: 25%;  width: 50%; height: 100px;}
  .btn3{    top: 410px; left: 25%;  width: 50%; height: 65px;}
  .btn4{top: 500px; left: 0; width: 100%;   height: 180px;}
  .btn5{    top: 795px; left: 0%;  width: 50%; height: 100px;}
  .btn6{    top: 795px; left: 50%;  width: 50%; height: 100px;}
}

@media only screen and (max-width:470px) {
  /*.btn-light{border:1px solid yellow;opacity: 1;}*/
  .btn1{top: 140px; left: 115px; width: 150px;   height: 90px;}

  .btn11{top: 0px; left: 95px; width: 70px;   height: 70px;}
  .btn12{top: 0px; left: 225px; width: 70px;   height: 70px;}
  .btn13{top: 110px; left: 0px; width: 70px;   height: 70px;}
  .btn14{top: 110px; left: 300px; width: 70px;   height: 70px;}
  .btn15{top: 245px; left: 45px; width: 70px;   height: 70px;}
  .btn16{top: 245px; left: 280px; width: 70px;   height: 70px;}


  .btn2{    top: 300px; left: 25%;  width: 50%; height: 60px;}
  .btn3{    top: 355px; left: 25%;  width: 50%; height: 65px;}
  .btn4{top: 400px; left: 0; width: 100%;   height: 180px;}
  .btn5{    top: 700px; left: 0%;  width: 50%; height: 100px;}
  .btn6{    top: 700px; left: 50%;  width: 50%; height: 100px;}
}

@media only screen and (max-width:390px) {
  /*.btn-light{border:1px solid purple;opacity: 1;}*/
  .btn1{top: 100px; left: 85px; width: 150px;   height: 90px;}

  .btn11{top: 0px; left: 75px; width: 70px;   height: 70px;}
  .btn12{top: 0px; left: 180px; width: 70px;   height: 70px;}
  .btn13{top: 80px; left: 0px; width: 70px;   height: 70px;}
  .btn14{top: 80px; left: 250px; width: 70px;   height: 70px;}
  .btn15{top: 180px; left: 15px; width: 70px;   height: 70px;}
  .btn16{top: 180px; left: 220px; width: 70px;   height: 70px;}

  .btn2{ top:245px;height: 50px;}
  .btn3{ top:300px;height: 50px;}
  .btn4{ top:370px;height: 120px;}
  .btn5{ top:595px; }
  .btn6{ top:595px; }
}

@media only screen and (max-width:360px) {
  /*.btn-light{border:1px solid cyan;opacity: 1;}*/
  .btn1{ height: 70px;width:100px;}

  .btn11{top: 0px; left: 50px; width: 70px;   height: 70px;}
  .btn12{top: 0px; left: 150px; width: 70px;   height: 70px;}
  .btn13{top: 60px; left: 0px; width: 70px;   height: 70px;}
  .btn14{top: 60px; left: 200px; width: 70px;   height: 70px;}
  .btn15{top: 150px; left: 15px; width: 70px;   height: 70px;}
  .btn16{top: 150px; left: 180px; width: 70px;   height: 70px;}


  .btn2{ top:225px;}
  .btn3{ top:275px;}
  .btn4{ top:345px;}
  .btn5{ top: 550px; }
  .btn6{ top: 550px; }
}

@media only screen and (max-width:320px) {
  /*.btn-light{border:1px solid white;opacity: 1;}*/
  .btn1{top: 50px;height:140px;}
  .btn2{top: 190px;}
  .btn3{top: 240px;}
  .btn4{ top:295px;}
  .btn5{ top: 465px; }
  .btn6{ top: 465px; }
}

#instrucciones{text-align: center;padding:100px 20px 0 20px;}
#instrucciones p{font-family: 'Roboto Condensed', sans-serif;}


.black_and_white_container{position: relative;background: rgba(84,86,90,1);
background: -moz-linear-gradient(left, rgba(84,86,90,1) 0%, rgba(84,86,90,1) 50%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(84,86,90,1)), color-stop(50%, rgba(84,86,90,1)), color-stop(50%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,1)));
background: -webkit-linear-gradient(left, rgba(84,86,90,1) 0%, rgba(84,86,90,1) 50%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%);
background: -o-linear-gradient(left, rgba(84,86,90,1) 0%, rgba(84,86,90,1) 50%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%);
background: -ms-linear-gradient(left, rgba(84,86,90,1) 0%, rgba(84,86,90,1) 50%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%);
background: linear-gradient(to right, rgba(84,86,90,1) 0%, rgba(84,86,90,1) 50%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#54565a', endColorstr='#ffffff', GradientType=1 ); }
.black_and_white_container .p-2{width:50%;}


@media(max-width: 992px){
  .black_and_white_container{
    background: rgba(84,86,90,1);
background: -moz-linear-gradient(top, rgba(84,86,90,1) 0%, rgba(84,86,90,1) 30%, rgba(84,86,90,1) 30%, rgba(255,255,255,1) 30%, rgba(255,255,255,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(84,86,90,1)), color-stop(30%, rgba(84,86,90,1)), color-stop(30%, rgba(84,86,90,1)), color-stop(30%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,1)));
background: -webkit-linear-gradient(top, rgba(84,86,90,1) 0%, rgba(84,86,90,1) 30%, rgba(84,86,90,1) 30%, rgba(255,255,255,1) 30%, rgba(255,255,255,1) 100%);
background: -o-linear-gradient(top, rgba(84,86,90,1) 0%, rgba(84,86,90,1) 30%, rgba(84,86,90,1) 30%, rgba(255,255,255,1) 30%, rgba(255,255,255,1) 100%);
background: -ms-linear-gradient(top, rgba(84,86,90,1) 0%, rgba(84,86,90,1) 30%, rgba(84,86,90,1) 30%, rgba(255,255,255,1) 30%, rgba(255,255,255,1) 100%);
background: linear-gradient(to bottom, rgba(84,86,90,1) 0%, rgba(84,86,90,1) 30%, rgba(84,86,90,1) 30%, rgba(255,255,255,1) 30%, rgba(255,255,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#54565a', endColorstr='#ffffff', GradientType=0 );
  }
  .black_and_white_container .p-2{width:100%;}
}
.ellipse_black{position: absolute;top:-25%;left:0;z-index:10;}

.blackBack{text-align: left;max-width:360px;}
.blackBack h1{font-weight: 100;color:#fff;text-transform: uppercase;}
.blackBack h1 b{font-weight: 800;}
.blackBack p{font-weight: 100;color:#fff;line-height: 30px;}

@media(max-width: 400px){  .blackBack{width:80%;margin: 0 auto;}}
@media(max-width: 992px){   .blackBack{margin:20px auto;}}
@media(max-width: 360px){   .blackBack h1{font-size: 25px;}}


.whiteBack{padding:100px 0 ;text-align: center;} 
@media(max-width: 992px){   .whiteBack{padding:200px 0 100px 0;} }
@media(max-width: 440px){   .whiteBack{padding:50px 0 50px 0;} }

.whiteBack .ciclo{margin: 0 auto;width:100%;max-width: 480px;} 

/*  CICLO ESPACIO  */
.cicloContainer{margin: 0 auto 80px auto;}
.circle-big { position: relative; height: 360px; width: 200px;margin: 0 150px; border-top-left-radius: 360px; border-bottom-left-radius: 360px;  border: 2px solid #d4deea; border-right: 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;  }
@media(max-width: 1150px){  .circle-big{margin: 0 100px;}}
@media(max-width: 990px){  .circle-big{margin:0 calc(50% - 150px);}}
@media(max-width: 440px){   .circle-big{margin:45px;} }

.circle { transition:all 300ms ease-in;border-radius: 50%; width: 100px; height: 100px; border:2px solid #d4deea;background-color: #fff; display: block;position: absolute; overflow: hidden;top: 50%; left: 50%; margin: -15px;padding:10px;vertical-align: middle;}
.circle:hover{cursor: pointer;transform:scale(1.2);}
.circle:hover .svgContainer{background-color:#e3221d;}
.circle:hover .svgContainer svg{fill:#fff;}
.circle.active{transform:scale(1.2);}
.circle.active .svgContainer{background-color:#e3221d;}
.circle.active .svgContainer svg{fill:#fff;}


.one { top:-10%;left:60%; }
.two { top:40%;left:-20%; }
.three { top:90%;left:60%; }


.svgContainer{background-color:#d4deea;padding:10px;text-align: center;border-radius: 100%;height:100%;}
.svgContainer svg{fill:#54565A;width:80%;margin:3px 4px 0 0}

.cicloTextContainer{position: absolute;text-align: left;width:250px;top:115px;left:70%;}
@media(max-width: 520px){  .cicloTextContainer{left:50% !important;}}
@media(max-width: 440px){  
  .cicloTextContainer{width:150px;top:100px;}
  .cicloTextContainer .circleText .titulo{font-size: 16px !important;}
  .cicloTextContainer .circleText .descripcion{font-size: 14px;}
}

@media(max-width: 320px){  .cicloTextContainer{left:40% !important;}}
.cicleTextContainer{transition:all 300ms ease-in;}
.cicloTextContainer .circleText{display: none;transition:all 300ms ease-in;}
.cicloTextContainer .circleText .titulo{color:#e3221d;font-weight: 800;text-transform: uppercase;margin: 0;font-size: 20px;}
.cicloTextContainer .circleText .descripcion{font-family: 'Roboto Condensed', sans-serif;margin:0;}
.cicloTextContainer .active{display: block;transition:all 300ms ease-in;}

.cicloList{list-style: none;margin:0 auto;width:210px;transition:all 300ms ease-in;}
.cicloList li{float:left; width:25px;height:10px;background-color: #dae1ea;margin:0 10px;}
.cicloList li:hover{cursor:pointer;}
.cicloList li.active{background-color: #a0b1c8;}




/*  parte final */
.tituloPerfil {  color: #e2211c;  font-weight: 800;}
.iconContainer {   background-color: #d4deeb;  border-radius: 100px;   border-radius: 60px;   padding: 10px;   margin: 0 auto;   width: 50px;   height: 50px;}
.circleContainer {   background-color: #fff;  border: 2px solid #d4deeb;  border-radius: 100px;  text-align: center;  padding: 5px;  display: inline-block;}
.iconContainer svg {  fill: #5c5e63;  width: 80%;  margin: 0 auto;}
.functionesContainer {padding:100px 0;position: relative;background-color: #f1f3f7}
.ellipse_funciones{position: absolute;bottom: 0;}

.containerTitulo{font-weight: 800;color:#54565a;margin:0 0 100px 0 ;}
.functionesContainer .row [class*="col-"]{ margin-bottom: -99999px; padding-bottom: 99999px;}
.functionesContainer .row{  overflow: hidden; }
.funcionBox{border:1px solid #d4deeb;border-radius: 10px;padding:25px;height:100%;background-color: #fff;}
.funcionBox svg{fill:#54565A;}
.funcionBox .circleContainer .iconContainer{width:75px;height:75px;    line-height: 45px;}
@media(max-width: 990px){
.funcionBox .col-lg-3{text-align: center;}
}
@media (max-width: 770px){
.iconContainer {padding:10px;}
  .functionesContainer .row [class*="col-"]  {    margin-bottom: 30px; padding-bottom: 0;}
  .funcionBox .circleContainer .iconContainer svg {width:80%;}
  .tituloPerfil{text-align: center;}
}

@media (max-width: 360px){
  .tituloPerfil {font-size: 25px;}
}