WP_PORT=8080
WP_HOME=http://localhost:8080

DB_NAME=wordpress
DB_USER=wordpress
DB_PASSWORD=cambia_esto

WP_TITLE=Sitio WordPress
WP_ADMIN_USER=admin
WP_ADMIN_PASSWORD=cambia_esto_tambien
WP_ADMIN_EMAIL=admin@midominio.com
